body {
	font-family: ' メイリオ ','Hiragino Kaku Gothic Pro','sans-serif';
	background-color: #e5e5e5;
	margin: 0;
}

a	{
	color: #017acd;
}

/* コンテナ */
div#container	{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	padding: 0 40px;
	-webkit-box-shadow: 0 0 50px #bbbbbb;
	box-shadow: 0 0 50px #bbbbbb;
	background-image: url(../images/circle.png), url(../images/circle-yellow.png);
	background-repeat: no-repeat;
	background-position: 15px 410px, 90px 490px;
	background-size: 94px 94px, 30px 30px;
	position: relative;
	overflow: hidden;
}

/* ヘッダー */
header#pageheader {
	background: none;
	padding-top: 15px;
}

header#pageheader h1	{
	margin: 0;
	float: left;
	font-size: 40px;
	font-weight: normal;
	font-family: 'Varela Round', sans-serif;
}

header#pageheader h2	{
	color: #666666;
	font-size: 0.75em;
	margin: 0;
	padding-top: 20px;
	text-align: right;
	font-weight: normal;
	margin-bottom: 10px;
}

nav {
	clear: both;
}

nav ul	{
	font-size: 0.75em;
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 0;
	padding-left: 0;
	height: 30px;
	background-color: #333333;
	border-radius: 5px;
	background: -webkit-linear-gradient(#777777 0%, #444444 50%, #333333 51%, #555555 100%);
	background: -moz-linear-gradient(#777777 0%, #444444 50%, #333333 51%, #555555 100%);
	background: -o-linear-gradient(#777777 0%, #444444 50%, #333333 51%, #555555 100%);
	background: -ms-linear-gradient(#777777 0%, #444444 50%, #333333 51%, #555555 100%);
}

nav ul li	{
	list-style-type: none;
	float: left;
}

nav ul li a	{
	display: block;
	width: 120px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	border-right: solid 1px rgba(255,255,255,.2);
}

nav ul li a:hover	{
	background-color: rgba(1,122,205,.3);
}
nav ul li:first-of-type a:hover {
	border-radius: 5px 0 0 5px;
}

/* コンテンツ */
article	{
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

article header {
	border: solid 1px #aaaaaa;
	border-radius: 5px;
	margin: 20px 0 10px;
	padding: 18px;
	-webkit-box-shadow: 0 2px 3px #cccccc, 0 0 4px 3px #ffffff inset;
	box-shadow: 0 2px 3px #cccccc, 0 0 4px 3px #ffffff inset;
	background-color: rgba(255,255,255,.5);
}

article section {
	clear: both;
	border: solid 1px #aaaaaa;
	border-radius: 5px;
	margin: 20px 0 10px;
	padding: 18px;
	overflow: hidden;
	background: -webkit-linear-gradient(#ffffff 0%, #dfdfdf 100%);
	background: -moz-linear-gradient(#ffffff 0%, #dfdfdf 100%);
	background: -o-linear-gradient(#ffffff 0%, #dfdfdf 100%);
	background: -ms-linear-gradient(#ffffff 0%, #dfdfdf 100%);
	-webkit-box-shadow: 0 2px 3px #cccccc;
	box-shadow: 0 2px 3px #cccccc, 0 0 4px 3px #ffffff inset;
}

article header h1	{
	background: none;
	font-size: 28px;
	color: #000000;
	line-height: 45px;
	padding-left: 0;
	margin: 0;
	font-weight: normal;
	float: left;
}

article header p {
	font-size: 16px;
	color: #444444;
	margin-left: 300px;
}

article section h1	{
	background: none;
	font-size: 24px;
	font-weight: normal;
	line-height: 22px;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 20px;
	margin-left: 0;
	margin-right: 0;
	height: 48px;
	line-height: 1.2;
}

article p	{
	font-size: 0.75em;
	line-height: 1.6;
	margin-top: 10px;
	margin-left: 0;
	margin-right: 0;
}

/* フッター */
footer	{
	color: #888888;
	margin-top: 25px;
	padding-top: 8px;
	padding-bottom: 8px;
	clear: both;
	border-top: solid 1px #aaaaaa;
}

small	{
	display: block;
	font-size: 10px;
	font-style: normal;
	text-align: left;
	&::before {
		content: 'Green Leaf';
		display: block;
		width: 200px;
		padding: 10px 0;
		background-color: #880000;
		color: #ffffff;
		font-family: 'Varela Round', sans-serif;
		font-size: 20px;
		text-align: center;
		position: absolute;
		right: 0;
		bottom: 0;
		-webkit-transform: rotate(-45deg) translate(62px, 20px);
		-moz-transform: rotate(-45deg) translate(62px, 20px);
		-o-transform: rotate(-45deg) translate(62px, 20px);
		-ms-transform: rotate(-45deg) translate(62px, 20px);
	}
}

/* 画像の配置 */
figure {
	margin: 0;
}

article section:nth-of-type(odd) figure {
	float: right;
	margin-left: 15px;
	margin-bottom: 0;
}

article section:nth-of-type(even) figure	{
	float: left;
	margin-right: 15px;
	margin-bottom: 0;
}

article section figcaption {
	color: #666666;
	font-size: 10px;
	display: block;
}

article section:nth-of-type(odd) figcaption {
	text-align: right;
}

form {
	max-width: 500px;
	margin: 30px auto;
}

input, textarea {
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: solid 1px #aaaaaa;
	border-radius: 0;
	-webkit-appearance: none;
}

textarea {
	height: 110px;
}

input[type="submit"] {
	width: 200px;
	background-color: #cef178;
}

input:required, input:invalid {
	background-image: url(../images/caution.png);
	background-repeat: no-repeat;
	background-position: right center;
}

input:valid {
	background-image: none;
}

input:focus {
	outline: solid 3px rgba(159,256,16,.5);
}

label span {
	color: #ff0000;
}

/* ビデオ設定(sample_d.htmlのみ。それ以外の時は消す) */
article {
	text-align: center;
	margin: 30px 0 100px;
}

/* ======PC用の設定====== */
@media only screen and (min-width: 900px){

/* ③段組み　IE~9とopera用 */
article div[itemprop="articleBody"] {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
}

article section {
	clear: both;
	float: left;
	position: relative;
	width: 288px;
	margin-right: 18px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow: visible;
}

article section + section + section {
	margin-right: 0;
}

article section:nth-of-type(1n) figure {
		float: none;
		margin: 0;
}

article section:nth-of-type(1n) figcaption {
		text-align: center;
		margin-bottom: 15px;
}
}

/* =====タブレット用の設定===== */

@media only screen and (min-width: 600px) and (max-width: 899px){
div#container {
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0 10px;
	background-position: -5px 400px, 70px 480px;
}

header#pageheader img {
	width: 100%;
	height: auto;
}

nav ul {
	font-size: 10px;
}

nav ul li a {
	width: 100px;
}
video {
	width: 480px;
	height: 270px;
}
}

/* =====スマートフォン用の設定===== */

@media only screen and (max-width: 599px){

div#container {
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0 10px;
	background-position: -3px 220px, 75px 300px;
}

header#pageheader {
	width: 100%;
	height: auto;
}

nav ul {
	font-size: 8px;
}

nav ul li a {
	width: auto;
	display: inline-block;
	padding: 0 3px;
}

header#pageheader img {
	width: 100%;
	height: auto;
}

header#pageheader h1 {
	font-size: 24px;
	margin-right: 15px;
}
header#pageheader h2 {
	font-size: 10px;
	text-align: left;
	padding: 0;
}

article header h1 {
	float: none;
}

article header p {
	margin: 0;
}

article section:nth-of-type(1n) figure {
		float: none;
		margin: 0;
		text-align: center;
		display: block;
}

article section:nth-of-type(1n) figcaption {
		text-align: center;
		margin-bottom: 15px;
}

video {
	width: 280px;
	height: 157px;
}
}