a	{
	color: #017acd;
}
/* コンテナ */
.container	{
	width: 760px;
	margin-left: auto;
	margin-right: auto;
}
/* ヘッダー */
.header	{
	background-color: #017acd;
	background-image: url(../images/sky.jpg);
	margin-bottom: 50px;
	&__body {
		padding: 28px 20px 98px;
	}
	&__text {
		color: #FFF;
		font-size: 0.75em;
	}
}
/* メニュー */
.nav	{
	font-size: 0.75em;
	margin-top: 0;
	margin-left: 0;
	padding-left: 0;
	background-color: #005087;
	&__item {
		display: block;
		width: 20%;
		list-style-type: none;
	    float: left;
	}
}
.nav a	{
	display: block;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	background-color: #005087;
	border-right: solid 1px #ffffff;
}
.nav li a:hover	{
	background-color: #017acd;
}
/* コンテンツ */
.content	{
	width: 564px;
	margin-left: auto;
	margin-right: auto;
}
div#content h2	{
	background-color: #014471;
	background-image: url(../images/bar-darkblue.png);
	background-repeat: no-repeat;
	font-size: 1em;
	color: #ffffff;
	line-height: 45px;
	padding-left: 12px;
	margin-bottom: 0;
}
div#content h3	{
	background-color: #ffffff;
	background-image: url(../images/maru-skyblue.png);
	background-repeat: no-repeat;
	background-position: 0px 2px;
	font-size: 0.875em;
	line-height: 22px;
	padding-left: 26px;
	margin-top: 30px;
	margin-bottom: 0;
	margin-left: 12px;
	margin-right: 12px;
}
div#content p	{
	font-size: 0.75em;
	line-height: 1.6;
	margin-top: 10px;
	margin-left: 12px;
	margin-right: 12px;
}
/* フッター */
div#footer	{
	color: #ffffff;
	background-color: #005087;
	margin-top: 25px;
	padding-top: 8px;
	padding-bottom: 8px;
}
small	{
	font-size: 0.75em;
	font-style: normal;
	text-align: center;
	display: block;
}
/* 画像の配置 */
img.photo-odd	{
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
}
img.photo-even	{
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}